.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header {
  background-color: rgb(59, 59, 59, 0.5);
  width: 100vw;
  position: absolute;
  top: 0px;
}
.container {
  background-size: 100vw;
  width: 100vw;
}
.background {
  background-repeat: no-repeat;
  background-size: cover;
}
