.glassesDetail {
  width: 30vw;
  height: 60vh;
  position: relative;
}
.glasses {
  position: absolute;
  top: 125px;
  left: 115px;
}
.glasses img {
position: absolute;
  width: 22rem;
  top: 20px;
}
.detail {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: rgb(253, 189, 143,0.5);
}
